<h1>Request A Cat</h1>

<label for="start_date">Start Date</label>
<input type="date" name="cat_rental[start_date]" id="cat_rental_start_date" >

<label for="end_date">End Date</label>
<input type="date" name="cat_rental[end_date]" id="cat_rental_end_date" >


<label for="cat_color">Coat color</label>
<option value="brown">Brown</option>
